body {
  position: relative;
  font-family: Roboto, sans-serif
}

.body-wrap {
  width: 100vw;
  height: 100%;
  background-color: rgba(225, 225, 225, .5);
  position: absolute;
  z-index: 50;
  display: none
}

.show {
  opacity: 1 !important;
  z-index: 10 !important
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #131313 !important;
  border-color: #131313 !important;
  color: #fff
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem #6e6d6d !important
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 .2rem #6e6d6d !important
}

.btn-primary {
  background-color: #131313;
  border-color: #131313;
  cursor: pointer
}

.btn-primary:hover {
  background-color: #131313;
  border-color: #131313
}

.container {
  border-left: .5px solid #eee;
  border-right: .5px solid #eee
}

.logo {
  width: 100%;
  max-width: 310px;
  max-height: 70px
}

.logo img {
  max-width: 100%
}

.header-info__top-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px
}

.header-info__main-info {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center
}

.top-info__tel {
  font-weight: 500;
  text-align: right
}

.top-info_email {
  display: inline-block
}

.header-info__main {
  display: flex;
  align-items: center
}

.main-info__form {
  position: relative;
  padding-left: 0
}

.main-info__form input {
  width: 100%;
  padding: 0 22px 0 20px
}

.main-info__form button {
  position: absolute;
  right: 20px;
  top: 15px;
  transform: translateY(-44%);
  background: 0 0
}

.main-info__customer-block {
  text-align: center;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center
}

.customer-block__current-count {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px
}

.customer-block__deliveryFree {
  display: block
}

.header-info-mobile {
  align-items: center;
  flex-wrap: nowrap
}

.mobile__header-info__top-info {
  justify-content: space-between
}

.mobile-icon {
  cursor: pointer;
  text-align: center
}

nav {
  width: 100%;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 30px
}

.nav-tabs:after,
nav:after {
  content: '';
  width: 98%;
  height: 1px;
  background-color: #f1f1f1;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 1%;
  z-index: -1
}

.home-icon {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer
}

.navigation li:hover {
  background-color: #af3448;
  color: #fff
}

.navigation,
nav {
  align-items: center;
  display: flex
}

.navigation {
  position: relative;
  flex-wrap: wrap
}

.navigation li {
  position: relative;
  margin-right: 10px;
  padding: 5px 8px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer
}

.navigation .fa-chevron-down {
  font-size: 10px;
  top: -2px;
  right: -2px;
  position: relative
}

.navigation__sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  padding: 20px;
  width: 100%;
  height: 200px;
  background: #fff;
  opacity: 0;
  color: #333;
  z-index: -1
}

.navigation__sub-menu i {
  display: inline-flex
}

.sub-menu__list {
  max-width: 15%;
  width: 15%
}

.sub-menu__list-item:first-child() {
  text-transform: uppercase;
  font-weight: 500;
  color: #000
}

.sub-menu__list {
  margin-right: 30px
}

.sub-menu__list li {
  position: relative;
  padding-left: 20px;
  line-height: 25px
}

.navigation__sub-menu .fa-chevron-right {
  position: absolute;
  font-size: 10px;
  left: 5px;
  top: 8px;
  transition: ease .1s
}

.sub-menu__list li a:hover .fa-chevron-right {
  left: 10px;
  color: #af3448
}

.sub-menu__list li a:hover {
  color: #af3448;
  transition: ease .1s
}

.front-banner__slider {
  max-width: 1144px;
  max-height: 440px;
  margin: 0 auto 30px auto;
  overflow-x: hidden
}

.slider__item {
  position: relative;
  z-index: 100
}

.slick-slide img {
  object-fit: cover;
  max-width: 100%
}

.fa-arrow-circle-left,
.fa-arrow-circle-right {
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 2;
  top: 54%;
  color: #af3448;
  font-size: 25px;
  transition: ease .4s;
  transform: perspective(500px);
  transform: scale(0)
}

.fa-arrow-circle-right {
  right: 100px
}

.fa-arrow-circle-left {
  left: 100px
}

.sub-bunner {
  margin-bottom: 40px
}

.sub-bunner__item {
  text-align: center
}

.sub-bunner__item img {
  object-fit: cover;
  max-width: 100%;
  max-height: 215px
}

.sub-bunner__text {
  padding-top: 30px;
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center
}

.text__small {
  font-size: 15px
}

.text__normal {
  font-size: 17px
}

.nav-tabs {
  position: relative;
  width: 100%;
  border-bottom: none;
  padding-left: 15px;
  margin-bottom: 30px;
  text-transform: uppercase
}

.tab-content>.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px
}

.nav-tabs li {
  margin-right: 20px
}

.nav-tabs li a {
  font-weight: 500
}

.nav-tabs li>.active {
  color: #af3448
}

div[id=tab-two] {
  flex-direction: row-reverse
}

.tab__product {
  border-radius: 5px;
  margin: 0 17px 50px 0;
  display: block;
  max-width: 260px
}

.tab__product img {
  object-fit: cover;
  max-width: 100%;
  height: 100%
}

.show-more {
  display: block;
  padding: 5px;
  margin: 0 auto 30px auto;
  border: 2px solid #171616ad
}

.show-more:hover {
  color: #eee;
  background-color: #000;
  border: 2px solid transparent
}

.product__descript {
  position: relative;
  z-index: 15;
  padding: 5px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 5px 5px
}

.descript__add-to-cart {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  z-index: 5;
  transform: translateY(15px);
  transition: ease .3s;
  padding: 6px;
  color: #f1f1f1;
  background-color: #af3448;
  width: 100%;
  text-align: center
}

.descript__add-to-cart .fa-shopping-cart {
  margin-right: 5px
}

.product__descript__price {
  font-weight: 500;
  color: #af3448
}

.product-item__image {
  text-align: center;
  height: 270px;
  width: 240px;
  padding: 5px
}

.tab__product:hover {
  cursor: pointer;
  box-shadow: 1px 1px 4px 0 #000
}

.tab__product:hover .descript__add-to-cart {
  opacity: 1;
  top: -48px
}

.tab__product:nth-child(4n) {
  margin-right: 0
}

.rules__list {
  display: flex;
  padding: 10px 15px;
  background-color: #e1dede;
  margin-bottom: 30px
}

.list-item__title,
.list-item__title i {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px
}

#byWebItAll {
  visibility: hidden;
  opacity: 0;
  display: none
}

.rules__list-item:not(:last-child) {
  margin-right: 10px
}

.social-banner {
  margin-bottom: 40px
}

.social-banner .container {
  font-size: 14px;
  color: #d4d0d0;
  background-color: #3e3a3a;
  user-select: none
}

.social-banner__box {
  display: flex;
  padding: 20px 0;
  font-size: 14px;
  color: #d4d0d0;
  background-color: #3e3a3a;
  max-width: 98%;
  margin: 0 auto 40px auto;
  user-select: none
}

.banner__box-item {
  padding-top: 30px;
  padding-bottom: 30px
}

.banner__box-item h3 {
  font-size: 1.55rem;
  margin-bottom: 20px
}

.box-item__countries-block {
  display: flex;
  flex-wrap: wrap
}

.banner__box-item .counties {
  width: 60px;
  height: 40px;
  margin: 0 23px 30px 0
}

.box-item__title {
  position: relative
}

.mobile-accordion-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: none
}

@media screen and (max-width:767px) {
  .mobile-accordion-btn {
    display: block
  }
}

.box-item__county-text {
  display: inline-block;
  margin-bottom: 10px
}

.box-item__soc-icon {
  width: 50px;
  height: 50px;
  margin: 0 28px 25px 0
}

.box-item__soc-icon:last-child {
  margin-right: 0
}

.box-item__form {
  display: flex;
  flex-direction: column;
  cursor: pointer
}

.newsletters span {
  display: inline-block;
  margin-bottom: 10px
}

.box-item__form input {
  margin-bottom: 10px;
  outline: 0;
  border: none;
  padding: 3px 5px
}

.box-item__form button[type=submit] {
  align-self: flex-start;
  padding: 8px 10px
}

footer h3 {
  text-transform: uppercase
}

.footer__item ul li a:hover .fa-chevron-right {
  left: 5px;
  color: #af3448
}

.footer__item ul li a:hover {
  color: #af3448;
  transition: ease .3s
}

footer li {
  position: relative;
  padding-left: 15px
}

footer .fa-chevron-right {
  position: absolute;
  left: 1px;
  font-size: 12px;
  top: 50%;
  transform: translateY(-6px);
  transition: ease .3s
}

.footer-contact .fa-plus,
.footer-contactli>span {
  margin-right: 10px
}

.footer-contact li a {
  display: flex;
  align-items: baseline
}

#footer__item-contac-list li a:hover {
  color: #000 !important
}

.footer-contact li {
  margin-bottom: 10px
}

.footer__item__title {
  position: relative
}

.credits {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px
}

.credits:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 98%;
  top: -20px;
  left: 1%;
  height: 1px;
  background-color: #000
}

.mobile-cart {
  position: fixed;
  height: 100vh;
  z-index: 1000000;
  right: -100%;
  top: 0;
  width: 50%;
  max-width: 300px;
  background-color: #d4d0d0;
  display: block;
  transition: ease .4s
}
.mobile-cart__title{
  font-size: 1.2rem;
  margin-bottom: 0;
}
.mobile-cart-active {
  right: 0
}

.mobile-cart__header {
  text-align: center;
  position: relative;
  padding: 10px 15px 10px 23px;
  background-color: #000;
  color: #fff
}

.mobile-cart__header .fa-chevron-right {
  position: absolute;
  left: 3px;
  top: 9px;
  font-size: 27px;
  width: 15px;
  cursor: pointer;
  color: red
}

.side-cart {
  position: fixed;
  left: 93vw;
  top: 120px;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 20
}

.side-cart .fa-cart-plus {
  font-size: 30px;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: 50%;
  margin-top: -15px
}

.mobile-menu {
  position: fixed;
  left: -100%;
  top: 0;
  display: block;
  width: 50%;
  max-width: 300px;
  height: 100%;
  z-index: 50;
  background-color: #333;
  color: #d4d0d0;
  transition: ease .5s
}
.fa-minus, .fa-plus{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.fa-minus{
  color: red;
}
.fa-plus{
  color: wheat;
}
.mobile-menu-active {
  left: 0
}

.mobile-menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px 10px
}

.mobile-menu__item:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #a72828
}

.menu-plus {
  position: absolute;
  right: 10px
}

.mobile-menu__header {
  position: relative;
  padding: 5px 20px;
  margin-bottom: 10px;
  background-color: #d4d0d0;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500
}

.mobile-menu__header .fa-chevron-right {
  position: absolute;
  right: 10px;
  top: 9px;
  font-size: 27px;
  width: 15px;
  cursor: pointer;
  color: red
}

.mobile-menu__header .fa-chevron-left:hover {
  color: red
}

.mobile-menu__item span {
  color: #ebe5e5
}

.cart767 {
  display: block;
  z-index: 50
}